div{
    border: 2px red solid;
    margin-left: 130px;
    margin-right: 140px;
    padding-left: 3px;
    background: #000;
    color: yellow;
    
}
img{
     margin-left: 155px;
     border-radius: 60px;
     margin-top: 1px;
     margin-bottom: 1px;
    
}
span{
      height: 220px;
      width: 10px;
      border: 1px solid red;
}
       
       
